<div class="row">
    <h1>Educación</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <ul>
            <li><h2>Estudio 1</h2> - <h3>(years)</h3></li>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae, eius porro? Quae quisquam enim eos tempore fugit rem veritatis nulla eum est tempora! Iste, molestias. Ad nostrum quibusdam placeat porro.
            </p>
        </ul>
        <ul>
            <li><h2>Estudio 2</h2> - <h3>(years)</h3></li>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae, eius porro? Quae quisquam enim eos tempore fugit rem veritatis nulla eum est tempora! Iste, molestias. Ad nostrum quibusdam placeat porro.
            </p>
        </ul>
        <ul>
            <li><h2>Estudio 3</h2> - <h3>(years)</h3></li>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae, eius porro? Quae quisquam enim eos tempore fugit rem veritatis nulla eum est tempora! Iste, molestias. Ad nostrum quibusdam placeat porro.
            </p>
        </ul>
    </div>
</div>
