<div class="row">
    <h2>Hard & Soft Skills</h2>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="70"
            [radius]="80"
            [showUnits]="false"
            [imageSrc]="'../../../assets/html.png'"
            [showImage]="true"
            [imageHeight]="50"
            [imageWidth]="50"
            [showSubtitle]="false"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="2"
            [outerStrokeColor]="'#78C000'"
            [innerStrokeColor]="'#C7E596'"
            [animation]="true"
            [animationDuration]="300"
        ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="60"
            [radius]="80"
            [showUnits]="false"
            [imageSrc]="'../../../assets/CSS.png'"
            [showImage]="true"
            [imageHeight]="50"
            [imageWidth]="50"
            [showSubtitle]="false"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="2"
            [outerStrokeColor]="'#78C000'"
            [innerStrokeColor]="'#C7E596'"
            [animation]="true"
            [animationDuration]="300"
        ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="60"
            [radius]="80"
            [showUnits]="false"
            [showTitle]="true"
            [title]="'Java'"
            [imageSrc]="'../../../assets/js.png'"
            [showImage]="true"
            [imageHeight]="50"
            [imageWidth]="50"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="2"
            [outerStrokeColor]="'#78C000'"
            [innerStrokeColor]="'#C7E596'"
            [animation]="true"
            [animationDuration]="300"
        ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="80"
            [radius]="80"
            [showUnits]="false"
            [imageSrc]="'../../../assets/net.jpg'"
            [showImage]="true"
            [imageHeight]="50"
            [imageWidth]="50"
            [showSubtitle]="false"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="2"
            [outerStrokeColor]="'#78C000'"
            [innerStrokeColor]="'#C7E596'"
            [animation]="true"
            [animationDuration]="300"
        ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="50"
            [radius]="80"
            [showUnits]="false"
            [imageSrc]="'../../../assets/eng.png'"
            [showImage]="true"
            [imageHeight]="50"
            [imageWidth]="50"
            [showSubtitle]="false"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="2"
            [outerStrokeColor]="'#78C000'"
            [innerStrokeColor]="'#C7E596'"
            [animation]="true"
            [animationDuration]="300"
        ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="85"
            [radius]="80"
            [showUnits]="false"
            [imageSrc]="'../../../assets/grupal.png'"
            [showImage]="true"
            [imageHeight]="50"
            [imageWidth]="50"
            [showSubtitle]="false"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="2"
            [outerStrokeColor]="'#78C000'"
            [innerStrokeColor]="'#C7E596'"
            [animation]="true"
            [animationDuration]="300"
        ></circle-progress>
    </div>
</div>
